interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bittrex.com/api/v1.1/public/getmarketsummaries
  response:
    body:
      string: '{"success":true,"message":"","result":[{"MarketName":"BTC-GRIN","High":0.00068297,"Low":0.00062189,"Volume":45307.88917039,"Last":0.00062541,"BaseVolume":29.67775573,"TimeStamp":"2019-04-07T07:54:34.12","Bid":0.00062603,"Ask":0.00063192,"OpenBuyOrders":207,"OpenSellOrders":965,"PrevDay":0.00066605,"Created":"2019-02-09T09:52:37.64"},{"MarketName":"USD-XRP","High":0.36600000,"Low":0.34700000,"Volume":1867799.92744919,"Last":0.36000000,"BaseVolume":663974.08046995,"TimeStamp":"2019-04-07T07:54:34.12","Bid":0.35900000,"Ask":0.36000000,"OpenBuyOrders":439,"OpenSellOrders":696,"PrevDay":0.35200000,"Created":"2018-08-20T21:47:01.797"},{"MarketName":"BTC-BTS","High":0.00001483,"Low":0.00001300,"Volume":1462852.94519787,"Last":0.00001431,"BaseVolume":20.77778255,"TimeStamp":"2019-04-07T07:54:34.12","Bid":0[...]
