interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bittrex.com/api/v1.1/public/getmarketsummaries
  response:
    body: {string: '{"success":true,"message":"","result":[{"MarketName":"BTC-NEOS","High":0.00003619,"Low":0.00003137,"Volume":60113.27453009,"Last":0.00003223,"BaseVolume":2.05591288,"TimeStamp":"2019-03-09T13:47:19.167","Bid":0.00003253,"Ask":0.00003342,"OpenBuyOrders":104,"OpenSellOrders":415,"PrevDay":0.00003137,"Created":"2014-08-20T00:06:59.63"},{"MarketName":"BTC-AEON","High":0.00007606,"Low":0.00007451,"Volume":3534.67516563,"Last":0.00007453,"BaseVolume":0.26440167,"TimeStamp":"2019-03-09T13:47:19.167","Bid":0.00007451,"Ask":0.00007453,"OpenBuyOrders":85,"OpenSellOrders":480,"PrevDay":0.00007550,"Created":"2015-07-31T00:50:47.11"},{"MarketName":"BTC-PRO","High":0.00003600,"Low":0.00003378,"Volume":110907.51270515,"Last":0.00003539,"BaseVolume":3.92011835,"TimeStamp":"2019-03-09T13:47:19.167","Bid":0.00003513[...]
