interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://openexchangerates.org/api/latest.json
  response:
    body:
      string: "{\n  \"disclaimer\": \"Usage subject to terms: https://openexchangerates.org/terms\"\
        ,\n  \"license\": \"https://openexchangerates.org/license\",\n  \"timestamp\"\
        : 1553202000,\n  \"base\": \"USD\",\n  \"rates\": {\n    \"AED\": 3.673096,\n\
        \    \"AFN\": 75.454952,\n    \"ALL\": 110.35,\n    \"AMD\": 485.886296,\n\
        \    \"ANG\": 1.823137,\n    \"AOA\": 317.2565,\n    \"ARS\": 41.0267,\n \
        \   \"AUD\": 1.4062,\n    \"AWG\": 1.800999,\n    \"AZN\": 1.7025,\n    \"\
        BAM\": 1.717009,\n    \"BBD\": 2,\n    \"BDT\": 84.232,\n    \"BGN\": 1.722515,\n\
        \    \"BHD\": 0.376874,\n    \"BIF\": 1831.5,\n    \"BMD\": 1,\n    \"BND\"\
        : 1.350602,\n    \"BOB\": 6.906796,\n    \"BRL\": 3.7936,\n    \"BSD\": 1,\n\
        \    \"BTC\": 0.000250939028,\n    \"BTN\": 68.584273,\n    \"BWP\": 10.698013,\n\
        \    \"BYN\": 2.098717,\n    \"BZD\": 2.015521,\n    \"CAD\": 1.33649,\n \
        \   \"CDF\": 1630.5,\n    \"CHF\": 0.992042,\n    \"CLF\": 0.024214,\n   \
        \ \"CLP\": 667.489964,\n    \"CNH\": 6.7071,\n    \"CNY\": 6.6984,\n    \"\
        COP\": 3092.722479,\n    \"CRC\": 597.087461,\n    \"CUC\": 1,\n    \"CUP\"\
        : 25.75,\n    \"CVE\": 97.3,\n    \"CZK\": 22.5738,\n    \"DJF\": 178,\n \
        \   \"DKK\": 6.560711,\n    \"DOP\": 50.67,\n    \"DZD\": 118.539471,\n  \
        \  \"EGP\": 17.254,\n    \"ERN\": 14.998097,\n    \"ETB\": 28.635,\n    \"\
        EUR\": 0.8792,\n    \"FJD\": 2.11869,\n    \"FKP\": 0.7628,\n    \"GBP\":\
        \ 0.7628,\n    \"GEL\": 2.685,\n    \"GGP\": 0.7628,\n    \"GHS\": 5.215,\n\
        \    \"GIP\": 0.7628,\n    \"GMD\": 49.675,\n    \"GNF\": 9230,\n    \"GTQ\"\
        : 7.689564,\n    \"GYD\": 208.031589,\n    \"HKD\": 7.84745,\n    \"HNL\"\
        : 24.529886,\n    \"HRK\": 6.5203,\n    \"HTG\": 82.693237,\n    \"HUF\":\
        \ 276.8,\n    \"IDR\": 14108.335669,\n    \"ILS\": 3.60155,\n    \"IMP\":\
        \ 0.7628,\n    \"INR\": 68.6725,\n    \"IQD\": 1190,\n    \"IRR\": 42105,\n\
        \    \"ISK\": 117.999868,\n    \"JEP\": 0.7628,\n    \"JMD\": 124.51,\n  \
        \  \"JOD\": 0.709004,\n    \"JPY\": 110.81560828,\n    \"KES\": 100.79,\n\
        \    \"KGS\": 68.677087,\n    \"KHR\": 3990,\n    \"KMF\": 432.697298,\n \
        \   \"KPW\": 900,\n    \"KRW\": 1128.42,\n    \"KWD\": 0.303503,\n    \"KYD\"\
        : 0.833594,\n    \"KZT\": 378.48,\n    \"LAK\": 8580,\n    \"LBP\": 1507.5,\n\
        \    \"LKR\": 178.148978,\n    \"LRD\": 162.249473,\n    \"LSL\": 14.38,\n\
        \    \"LYD\": 1.385,\n    \"MAD\": 9.587864,\n    \"MDL\": 17.232552,\n  \
        \  \"MGA\": 3545,\n    \"MKD\": 54.117935,\n    \"MMK\": 1530.39776,\n   \
        \ \"MNT\": 2512.714637,\n    \"MOP\": 8.085216,\n    \"MRO\": 357,\n    \"\
        MRU\": 36.55,\n    \"MUR\": 34.3995,\n    \"MVR\": 15.500007,\n    \"MWK\"\
        : 724.012713,\n    \"MXN\": 18.8595,\n    \"MYR\": 4.049814,\n    \"MZN\"\
        : 62.899849,\n    \"NAD\": 14.38,\n    \"NGN\": 359.5,\n    \"NIO\": 32.88,\n\
        \    \"NOK\": 8.45381,\n    \"NPR\": 109.730993,\n    \"NZD\": 1.453911,\n\
        \    \"OMR\": 0.384978,\n    \"PAB\": 1,\n    \"PEN\": 3.2935,\n    \"PGK\"\
        : 3.3775,\n    \"PHP\": 52.591444,\n    \"PKR\": 140.175,\n    \"PLN\": 3.76845,\n\
        \    \"PYG\": 6150.24562,\n    \"QAR\": 3.641259,\n    \"RON\": 4.181772,\n\
        \    \"RSD\": 103.676031,\n    \"RUB\": 63.8675,\n    \"RWF\": 895,\n    \"\
        SAR\": 3.7502,\n    \"SBD\": 8.055639,\n    \"SCR\": 13.674478,\n    \"SDG\"\
        : 47.715,\n    \"SEK\": 9.17338,\n    \"SGD\": 1.3491,\n    \"SHP\": 0.7628,\n\
        \    \"SLL\": 8390,\n    \"SOS\": 582,\n    \"SRD\": 7.458,\n    \"SSP\":\
        \ 130.2634,\n    \"STD\": 21050.59961,\n    \"STN\": 21.6,\n    \"SVC\": 8.752871,\n\
        \    \"SYP\": 515.02323,\n    \"SZL\": 14.351042,\n    \"THB\": 31.7355,\n\
        \    \"TJS\": 9.441888,\n    \"TMT\": 3.499986,\n    \"TND\": 3.016233,\n\
        \    \"TOP\": 2.259725,\n    \"TRY\": 5.465513,\n    \"TTD\": 6.79545,\n \
        \   \"TWD\": 30.81195,\n    \"TZS\": 2342.6,\n    \"UAH\": 27.2,\n    \"UGX\"\
        : 3700.665389,\n    \"USD\": 1,\n    \"UYU\": 33.351957,\n    \"UZS\": 8385,\n\
        \    \"VEF\": 248487.642241,\n    \"VES\": 3291.516389,\n    \"VND\": 23234.934858,\n\
        \    \"VUV\": 111.130321,\n    \"WST\": 2.606888,\n    \"XAF\": 576.717394,\n\
        \    \"XAG\": 0.06464333,\n    \"XAU\": 0.00076368,\n    \"XCD\": 2.70295,\n\
        \    \"XDR\": 0.7157,\n    \"XOF\": 576.717394,\n    \"XPD\": 0.00062086,\n\
        \    \"XPF\": 104.916468,\n    \"XPT\": 0.00116257,\n    \"YER\": 250.350747,\n\
        \    \"ZAR\": 14.213955,\n    \"ZMW\": 12.028463,\n    \"ZWL\": 322.355011\n\
        \  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"16f63f55d44a8a92cba42b5b5376593a"'
      Last-Modified:
      - Thu, 21 Mar 2019 21:00:00 GMT
    status:
      code: 200
      message: OK
version: 1
