interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitfinex.com/v1/symbols
  response:
    body: {string: '["btcusd","ltcusd","ltcbtc","ethusd","ethbtc","etcbtc","etcusd","rrtusd","rrtbtc","zecusd","zecbtc","xmrusd","xmrbtc","dshusd","dshbtc","btceur","btcjpy","xrpusd","xrpbtc","iotusd","iotbtc","ioteth","eosusd","eosbtc","eoseth","sanusd","sanbtc","saneth","omgusd","omgbtc","omgeth","neousd","neobtc","neoeth","etpusd","etpbtc","etpeth","qtmusd","qtmbtc","qtmeth","avtusd","avtbtc","avteth","edousd","edobtc","edoeth","btgusd","btgbtc","datusd","datbtc","dateth","qshusd","qshbtc","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bitfinex.com/v1/pubticker/btcusd
  response:
    body: {string: '{"mid":"3996.05","bid":"3996.0","ask":"3996.1","last_price":"3996.1","low":"3850.0","high":"4021.0","volume":"9567.9947337399999735","timestamp":"1552130472.9966455"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"260eb3d96bf96ed24e6757c36d449a44"]
    status: {code: 200, message: OK}
version: 1
