interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sp-today.com/app_api/cur_aleppo.json
  response:
    body:
      string: '[{"name":"USD","ask":"2080","bid":"2130","arrow":"1","ar_name":"\u062f\u0648\u0644\u0627\u0631
        \u0623\u0645\u0631\u064a\u0643\u064a","icon":"us.png","change":"60","change_percentage":"2.90"},{"name":"EUR","ask":"2478","bid":"2542","arrow":"1","ar_name":"\u064a\u0648\u0631\u0648","icon":"euro.png","change":"90","change_percentage":"3.67"},{"name":"TRY","ask":"281","bid":"290","arrow":"1","ar_name":"\u0644\u064a\u0631\u0629
        \u062a\u0631\u0643\u064a\u0629","icon":"tr.png","change":"10","change_percentage":"3.57"},{"name":"EGP","ask":"129","bid":"134","arrow":"1","ar_name":"\u062c\u0646\u064a\u0647
        \u0645\u0635\u0631\u064a","icon":"eg.png","change":"4","change_pe[...]
